@custom-media --md (min-width: 768px);

:root {
	font-family: 'Inter', sans-serif; line-height: 1.5; font-weight: 400; font-synthesis: none; margin: 48px;
	text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #F0F4F8;
}
